.feature-item {
    width: 250px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, border 0.3s ease;
    border: 2px solid transparent;
    position: center;
    overflow: hidden;
}
    .feature-item a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none; 
        color: inherit;
        height: 100%; 
        width: 100%; 
    }


    .feature-item::before,
    .feature-item::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: #333;
        transition: width 0.3s;
    }

    .feature-item::before {
        top: 0;
        left: 0;
    }

    .feature-item::after {
        bottom: 0;
        right: 0;
    }

    .feature-item:hover {
        transform: translateY(-10px);
        border: 2px solid #333;
    }

        .feature-item:hover::before,
        .feature-item:hover::after {
            width: 100%;
        }

    .feature-item i {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: #84fab0;
    }
.features-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.features h2 {
    flex: 1;
    text-align: center;
}

.feature-grid {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}